.prompts-page {
  .section--genre-filters {
    margin-bottom: 3rem;
  }

  .section--prompts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__story-link-wrapper {
    text-decoration: none !important;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.01);
    }

    &:active {
      transform: scale(0.99)
    }
  }

  .genres {
    display: flex;
    flex-direction: column;
  }
}