.stories-page {
  .section--filters {
    margin-bottom: 3rem;

    .container-fluid {
      display: flex;
      flex-wrap: wrap;
      column-gap: 5rem;
      row-gap: 2rem;

      form {
        width: 20rem;
      }
    }
  }

  .logo {
    align-self: flex-start;
  }

  .section--stories {
    max-width: 120rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__story-link-wrapper {
    width: 100%;
    text-decoration: none !important;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.01);
    }

    &:active {
      transform: scale(0.99)
    }
  }

  .filters {
    display: flex;
    flex-direction: column;
  }
}
