.nav {
  position: sticky;
  z-index: 1000;
  top: 0;
  padding: 1.5rem 1rem;

  width: 100%;
  background-color: rgba($color-violet-darkest, 0.7) !important;
  box-shadow: 2px 2px 3px rgba(black, 0.7);

  &__logo {
    color: white;
    font-size: 2rem;
    text-decoration: none !important;

    &:link, &:visited { color: white; }

    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .logo {
    margin-right: auto;
    fill: white;
    height: 2.5rem;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  &__links {
    justify-content: flex-end;
    gap: 2rem;
    @media only screen and (max-width: 992px) {
      gap: 1rem;
    }
  }

  &__link {
    transition: color 0.1s;
    margin-left: auto;
  }
}