.star-ratings {
  height: 1.4rem;

  &.star-ratings--disabled {
    * {
      pointer-events: none;
    }
  }

  .star-ratings {
    * {
      padding: 0 !important;
      vertical-align: unset !important;
    }

    height: 100%;
  
    display: flex !important;
    align-items: center;
    gap: 0.5rem;
  
    .star-container {
      position: relative;
      height: 100% !important;
  
      display: flex;
      align-items: center;
  
      svg {
        height: 100% !important;
        width: auto !important;

        path {
          height: 100% !important;
          display: inline-block;
          stroke:black;
        }
      }
    }
  }
}
