.story {
  font-size: 1.6rem;
  line-height: 1;
  color: black;
  padding: 0.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__small-text {
    font-size: 1.4rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__rating-container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__text-content {
    line-height: 1.2;
    white-space: pre-line;
    max-height: 20rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.story__text-content--expanded {
      max-height: unset;
      display: unset;
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
      overflow: unset;
    }
  }

  &__delete-button {
    margin-top: 1rem;
  }
}
