
$color-primary-darker: #20235e;
$color-primary-dark: #2930ca;
$color-primary: #686de0;
$color-primary-light: #aeb1ee;
$color-primary-lightest: #d7d9f7;

$color-brand-green-darker: #038874;
$color-brand-green-dark: #00AD92;
$color-brand-green: #4ABFAD;
$color-brand-green-light: #71D3C4;

$color-brand-red-darker: #9b2203;
$color-brand-red-dark: #C02600;
$color-brand-red: #F04E26;
$color-brand-red-light: #FF7452;

$color-brand-yellow-lightest: #fff4d3;
$color-brand-yellow-lighter: #fde59d;
$color-brand-yellow-light: #EBBE5D;
$color-brand-yellow: #F5B52A;
$color-brand-yellow-dark: #C48600;
$color-brand-yellow-darker: #a37000; //TODO: Temporary until gotten real color

$color-violet-darkest: #20202C;
$color-violet-dark: #303040;
$color-violet: #6767A0;
$color-violet-light: #BFBFD9;
$color-violet-lighter: #d9d9ef;

$color-secondary: #fde59d;

$color-highlight: #ffd866;

$color-gray-darkest: #2d2a2e;
$color-gray-dark: #474557;
$color-gray: #c7c7d3;
$color-gray-lightest: #f5f5fc;

// $color-gray: #808080;
// $color-gray-light: #BFBFBF;
// $color-gray-lightest: #f7f7f7;
