*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: font-size 0.05s;
}

body {
  font-family: filson-soft, sans-serif;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.2;
  // overflow-x: hidden;
  background-color: $color-violet-darkest;
}

form {
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  textarea, input {
    padding: 0.5rem;
    background-color: $color-gray-lightest;
    border: solid 0.15rem black;
  }

  .genres-fieldset {
    width: min-content;
    details {
      width: max-content;
    }

    .genres {
      display: flex;
      flex-direction: column;

      label {
        width: max-content;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        cursor: pointer;
      }
    }
  }
}

.button {
  width: max-content;
  padding: 0.2rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid 0.15rem black;
  background-color: $color-brand-yellow-light;
  
  &.button--red {
    background-color: $color-brand-red-light;
  }

  &.button--green {
    background-color: $color-brand-green-light;
  }
}

.section {
  width: 100%;
  
  .container-fluid {
    max-width: 120rem;
    background-color: $color-violet-light;
    padding: 1.5rem 4rem;
  }
}

.page {
}
