
html {
  font-size: 62.5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.stories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.story {
  font-size: 1.6rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review {
  font-size: 1.4rem;
}
